aiohttp==3.8.0
aiosignal==1.2.0
anyio==3.3.4
argon2-cffi==21.1.0
async-generator==1.10
async-timeout==4.0.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bleach==4.1.0
bokeh==2.4.1
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1610093492116/work
charset-normalizer==2.0.7
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
colorcet @ file:///home/conda/feedstock_root/build_artifacts/colorcet_1611108405642/work
cramjam==2.4.0
cryptography==35.0.0
cycler==0.11.0
cytoolz==0.11.0
dask==2022.2.0
dask-jobqueue @ file:///home/conda/feedstock_root/build_artifacts/dask-jobqueue_1626960977005/work
debugpy==1.5.1
decorator==5.1.0
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
distributed==2022.2.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
et-xmlfile==1.1.0
fastapi==0.70.0
fastparquet @ file:///home/conda/feedstock_root/build_artifacts/fastparquet_1628091741742/work
Fiona==1.8.20
frozenlist==1.2.0
fsspec==2021.10.1
future==0.18.2
fuzzywuzzy==0.18.0
geographiclib==1.52
geopandas==0.10.2
geopy==2.2.0
gitdb==4.0.9
GitPython==3.1.24
HeapDict==1.0.1
holoviews==1.14.6
hvplot @ file:///home/conda/feedstock_root/build_artifacts/hvplot_1627048757529/work
idna==3.3
importlib-metadata==4.8.1
ipykernel==6.5.0
ipython==7.29.0
ipython-genutils==0.2.0
jdcal==1.4.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1610146787869/work
Jinja2==3.0.2
json5==0.9.6
jsonschema==4.2.0
jupyter-client==7.0.6
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions @ http://github.com/ipython-contrib/jupyter_contrib_nbextensions/tarball/master
jupyter-core==4.9.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs @ file:///home/conda/feedstock_root/build_artifacts/jupyter_latex_envs_1614852190293/work
jupyter-nbextensions-configurator @ file:///home/conda/feedstock_root/build_artifacts/jupyter_nbextensions_configurator_1611341106466/work
jupyter-server==1.11.2
jupyter-server-mathjax @ file:///home/conda/feedstock_root/build_artifacts/jupyter-server-mathjax_1622646097887/work
jupyter-server-proxy @ file:///home/conda/feedstock_root/build_artifacts/jupyter-server-proxy_1625381556128/work
jupyterlab==3.2.2
jupyterlab-git==0.33.0
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server==2.8.2
jupytext @ file:///home/conda/feedstock_root/build_artifacts/jupytext_1638254464431/work
kiwisolver==1.3.2
locket==0.2.1
lxml==4.6.4
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1614595805172/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1620659057741/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1621455668600/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1628881762877/work
matplotlib-inline==0.1.3
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1620111679903/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1624941317779/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1610121709200/work
multidict==5.2.0
munch==2.5.0
nb-conda-kernels @ file:///home/conda/feedstock_root/build_artifacts/nb_conda_kernels_1606762451828/work
nbclassic==0.3.4
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1629120697898/work
nbconvert==6.2.0
nbdime==3.1.1
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
notebook==6.4.5
numpy==1.21.3
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl==3.0.9
packaging==21.2
pandas==1.4.1
pandocfilters==1.5.0
panel==0.12.4
param==1.12.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1617148930513/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==8.4.0
probableparsing==0.0.1
prometheus-client==0.12.0
prompt-toolkit==3.0.22
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1610127095958/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyarrow==6.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyct==0.4.8
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1620819959703/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1629119114968/work
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyproj==3.2.1
pyrsistent==0.18.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1610291451001/work
python-crfsuite==0.9.7
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==0.19.1
python-Levenshtein==0.12.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyviz-comms @ file:///home/conda/feedstock_root/build_artifacts/pyviz_comms_1625215435439/work
PyYAML==6.0
pyzmq==22.3.0
rapidfuzz==1.8.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
requests-unixsocket==0.2.0
rpy2 @ file:///home/conda/feedstock_root/build_artifacts/rpy2_1622826795397/work
scipy==1.7.1
seaborn==0.11.2
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
Shapely==1.8.0
simpervisor @ file:///home/conda/feedstock_root/build_artifacts/simpervisor_1609865618711/work
simplegeneric==0.8.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1610318319523/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
starlette==0.17.0
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1614001031686/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
terminado==0.12.1
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
thefuzz==0.19.0
thrift==0.15.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1610094708661/work
tqdm==4.62.3
traitlets==5.1.1
typing-extensions==3.10.0.2
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
usaddress==0.5.10
usps-api==0.5
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client==1.2.1
xlrd==2.0.1
XlsxWriter==3.0.2
xmltodict==0.12.0
yarl==1.7.2
zict==2.0.0
zipp==3.6.0
